body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7CA782;
}
.header a, .header h1 {
  display: inline-block;
  color: #FDFDFD;
  font-size: 30px;
}
.header h1 {
  line-height: 100px;
  margin: 0 4%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited{
  color: inherit;
}
.header ul {
  font-size: 30px;
  float: right;
  color: #FDFDFD;
  margin: 5px 10px;
  line-height: 70px;
}
.header li {
  margin: 10px 20px;
  float: left;
  font-weight: bold;
  list-style: none;
}
.header {
  background-color: #A1D1CF;
  margin: 0;
  padding: 10px;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.top,.profile_top{
  text-align: center;
}
.top h1,h2,h3{
  color: #FDFDFD;
}
.profile_top h1,h2,h3{
  color: #FDFDFD;
}
.contact_label{
  display: flex; 
  flex-flow: column;
}
.contact_label p{
  font-weight: bold;
  margin-bottom:10px;
  margin-top:20px;
}
.contact_label input{
  width:45%;
  height:30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact_label textarea{
  height:100px;
  width:45%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.controls{
  padding:30px;
}
.sbm_button{
  width:150px;
  height:60px;
  line-height:60px;
  margin:10px;
}
.sbm_button input{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#FAB693;
  text-align:center;
  border:5px solid #FAB693;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:35px;
  -webkit-border-radius:35px;
  -moz-border-radius:35px;
  transition: all 0.5s ease;
}
.sbm_button input:hover{
  background:#FFFFFF;
  color:#FAB693;
  box-shadow:none;
}
.contents_container {
  display: inline-block;
  width: 70%;
  padding: 20px 30px;
}
.daily_contents {
  display: inline-block;
  width: 15%;
  margin: 5px 7px;
  padding: 8px;
  background-color: #eaf9fb;
  text-align: center;
  -webkit-box-shadow: 5px 5px #008299;
  box-shadow: 5px 5px #008299;
  height:100px;
}
.daily_contents a{
  font-weight:bold;
  color:#008299;
}
.daily_contents a:hover{
  color:#FAB693;
}
.category_list {
  display: block;
  background-color: #eaf9fb;
  margin: 1%;
  width: 25%;
  height: 250px;
  padding: 20px 0;
  line-height: 30px;
  border: 4px solid #eea010;
  border-radius: 10px;
  position: fixed;
  right: 0;
  top:130px;
}
.category_list ul {
  text-align: center;
  padding-left: 0%;
}
.category_list li {
  margin: 5px 0;
  list-style: none;
}
.category_list a {
  color: #eea010;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}
.detail_daily{
  text-align: center;
}
.detail_daily h2{
  padding-top:15px;
  color:black;
}
.categoryView-container{
  padding:20px 20px;
}