body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7CA782;
}
.header a, .header h1 {
  display: inline-block;
  color: #FDFDFD;
  font-size: 30px;
}
.header h1 {
  line-height: 100px;
  margin: 0 4%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited{
  color: inherit;
}
.header ul {
  font-size: 30px;
  float: right;
  color: #FDFDFD;
  margin: 5px 10px;
  line-height: 70px;
}
.header li {
  margin: 10px 20px;
  float: left;
  font-weight: bold;
  list-style: none;
}
.header {
  background-color: #A1D1CF;
  margin: 0;
  padding: 10px;
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.top,.profile_top{
  text-align: center;
}
.top h1,h2,h3{
  color: #FDFDFD;
}
.profile_top h1,h2,h3{
  color: #FDFDFD;
}
.contact_label{
  display: flex; 
  flex-flow: column;
}
.contact_label p{
  font-weight: bold;
  margin-bottom:10px;
  margin-top:20px;
}
.contact_label input{
  width:45%;
  height:30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.contact_label textarea{
  height:100px;
  width:45%;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.controls{
  padding:30px;
}
.sbm_button{
  width:150px;
  height:60px;
  line-height:60px;
  margin:10px;
}
.sbm_button input{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#FAB693;
  text-align:center;
  border:5px solid #FAB693;
  color:#FFFFFF;
  font-size:20px;
  font-weight:bold;
  border-radius:35px;
  -webkit-border-radius:35px;
  -moz-border-radius:35px;
  transition: all 0.5s ease;
}
.sbm_button input:hover{
  background:#FFFFFF;
  color:#FAB693;
  box-shadow:none;
}
